<%- include('../layout/head.ejs',{title:"Administrators"}) %>
  <%- include('../layout/header.ejs',{account:"Admin"}) %>
    <%- include('../layout/sidebar.ejs') %>

      <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div class="row">
          <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><svg class="glyph stroked home">
                  <use xlink:href="#stroked-home"></use>
                </svg></a></li>
            <li class="active">Quản lý quản trị viên</li>
          </ol>
        </div><!--/.row-->

        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Quản lý quản trị viên</h1>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-6 col-md-2">
            <a name="" id="" class="btn btn-primary form-control" href="/admin/administrators/create" role="button">+
              Thêm Quản trị viên</a>
          </div>
            <div class="col-md-6 col-md-4">
              <label for="search">Tìm kiếm</label>
              <input class="form-control" style="margin-bottom: 10px;" placeholder="search" name="search" type="text" value="" />
            </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên tài khoản</th>
              <th>Mật khẩu</th>
              <th>Họ tên</th>
              <th>Giới tính</th>
              <th>Địa chỉ</th>
              <th>Số điện thoại</th>
              <th>Chức vụ</th>
              <th>Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <% admins.forEach(function (item,i=0) {%>
              <tr>
                <td scope="row">
                  <%= i+1 %>
                </td>
                <td>
                  <%= item.account %>
                </td>
                <td>
                  <%= item.password %>
                </td>
                <td>
                  <%= item.fullName %>
                </td>
                <td>
                  <%= item.sex %>
                </td>
                <td>
                  <%= item.address %>
                </td>
                <td>
                  <%= item.phoneNumber %>
                </td>
                <td>
                  <%= item.role %>
                </td>
            
                <td><a name="" id="" class="btn btn-success" href="/admin/administrators/edit/<%= item._id %>"
                    role="button">Edit</a>
                  <a name="" id="" class="btn btn-danger" href="/admin/administrators/del/<%= item._id %>" role="submit">Del</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <% if(hasPrev){ %>
              <li class="page-item">
                <a class="page-link" href="/admin/administrators?page=<%=prev%>" aria-label="Previous">
                  <span>&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <% } %>

                <% for(i of pages){ %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/administrators?page=<%=i%>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>

                    <% if(hasNext){ %>
                      <li class="page-item">
                        <a class="page-link" href="/admin/administrators?page=<%=next%>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                      <% } %>
          </ul>
        </nav>



      </div>


      <%- include('../layout/footer.ejs') %>